<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1 th:text="${name}">Users:</h1>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.name}">John</td>
        <td th:text="${user.lastname}">Doe</td>
        <td>
            <a th:href="'users/edit?id=' + ${user.id}">Edit</a>
            <a th:href="'users/delete?id=' + ${user.id}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<br/>
<form th:method="GET" th:action="@{/users/new}">
    <input type="submit" value="Create new user"/>
</form>
</body>
</html>